/ No restaurants yet!
/ %a(href='#') Add a restaurant

- if @restaurants.any?
  - @restaurants.each do |restaurant|
    = link_to restaurant.name, restaurant_path(restaurant)
    - if user_signed_in?
      = link_to "Edit #{restaurant.name}",edit_restaurant_path(restaurant)
        - if current_user.id == restaurant.user_id
        = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) #correction to make it
    %h3
      Reviews for
      = restaurant.name
      %h3 Average rating: #{restaurant.average_rating.to_i}
      = star_rating(restaurant.average_rating)

      - if restaurant.reviews.any?
        %ul
          - restaurant.reviews.each do |review|
            %li
              = review.thoughts
              = link_to "Endorse Review", review_endorsements_path(review), method: :post
              %p= pluralize review.endorsements.count, 'endorsements'
              %strong= review.rating
              /5
              - if current_user == review.user
                / = link_to "Delete Review", restaurant_review_path(restaurant,review), method: :delete 
                = link_to "Delete Review", review_path(review), method: :delete
      - else
        %p No reviews.
    %br
- else
  %h1 No restaurants yet!

/ %a(href='/restaurants/new') Add a restaurant
- if user_signed_in?
  = link_to "Add a restaurant", new_restaurant_path